# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
.env.local
*.env.local

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
